{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    Job Details
{% endblock title %}
{% block content %}
    {% include "partials/loader.html" %}
    {% include "partials/navbar.html" %}
    <!-- Job Details Section Start -->
    <section class="job-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible col-6 offset-3 fade show"
                                     role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="job-details-text">
                                <div class="job-card">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <div class="company-logo">
                                                {% if job.user_id.company_logo %}
                                                    <img src="{{ job.user_id.company_logo.url }}"
                                                         height=""
                                                         width=""
                                                         alt="logo">
                                                {% else %}
                                                    <img src="{% static 'assets/img/company-logo/1.png' %}"
                                                         height=""
                                                         width=""
                                                         alt="logo">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="job-info">
                                                <h3>{{ job.title }}</h3>
                                                <ul>
                                                    <li>
                                                        <i class="bx bx-location-plus"></i>
                                                        <td>{{ job.country }}, {{ job.city }}</td>
                                                    </li>
                                                    <li>
                                                        <i class="bx bx-filter-alt"></i>
                                                        {{ job.get_job_category_display }}
                                                    </li>
                                                    <li>
                                                        <i class="bx bx-briefcase"></i>
                                                        {{ job.get_job_type_display }}
                                                    </li>
                                                </ul>
                                                <span>
                                                    <i class="bx bx-paper-plane"></i>
                                                    Job Posted: {{ job.created_at.date }} || {{ job.created_at|timesince }} ago
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="details-text">
                                    <h3>Description</h3>
                                    <p>{{ job.description }}</p>
                                </div>
                                <div class="details-text">
                                    <h3>Requirements</h3>
                                    <ul>
                                        {% for requirement in requirements %}
                                            <li>
                                                <i class="bx bx-check"></i>
                                                {{ requirement }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="details-text">
                                    <h3>Job Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>Company: &ensp;</span>
                                                        </td>
                                                        <td>{{ job.company_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Location: &ensp;</span>
                                                        </td>
                                                        <td>{{ job.country }}, {{ job.city }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Job Type: &ensp;</span>
                                                        </td>
                                                        <td>{{ job.job_type }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Email: &ensp;</span>
                                                        </td>
                                                        <td>
                                                            <a>{{ job.company_email }}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>Experince: &ensp;</span>
                                                        </td>
                                                        <td>{{ job.experience }} Years</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Salary: &ensp;</span>
                                                        </td>
                                                        <td>${{ job.salary|intcomma }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Website: &ensp;</span>
                                                        </td>
                                                        <td>
                                                            <a href="{{ job.company_website }}">{{ job.company_website }}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-btn">
                                    <a href="{% url 'apply' job.id %}" class="default-btn">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job-sidebar">
                        <h3>Posted By</h3>
                        <div class="posted-by">
                            <img src="{{ job.user_id.picture.url }}"
                                 height="100"
                                 width="100"
                                 alt="client image">
                            <h4>{{ job.user_id }}</h4>
                            <span>{{ job.company_name }}</span>
                        </div>
                    </div>
                    <div class="job-sidebar">
                        <h3>Keywords</h3>
                        <ul>
                            {% if tags %}
                                {% for tag in tags %}
                                    <li>
                                        <a href="#">{{ tag }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Job Details Section End -->
    {% include "partials/footer.html" %}
    <!-- Footer Section End -->
{% endblock content %}
