{% extends "base.html" %}
{% load static %}
{% block title %}
    User profile
{% endblock title %}
{% block content %}
    {% include "partials/loader.html" %}
    {% include "partials/navbar.html" %}
    <!-- Account Area Start -->
    <section class="account-section ptb-100">
        <div class="container">
            <div class="row">
                {% include "partials/side_bar.html" %}
                <div class="col-md-8">
                    <div class="account-details">
                        <h3>Basic Information</h3>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible col-6 offset-3 fade show"
                                     role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form class="basic-info" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                {% if user.role == "employer" %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Profile Picture</label>
                                            {{ form.picture }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Company Logo</label>
                                            {{ form.company_logo }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            {{ form.fullname }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Job Position</label>
                                            {{ form.position }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Profile Picture</label>
                                            {{ form.picture }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Resume or CV</label>
                                            {{ form.resume_cv }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            {{ form.fullname }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Job Position</label>
                                            {{ form.position }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Primary Category</label>
                                            {{ form.category }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Secondary Category</label>
                                            {{ form.secondary_category }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mode of Work</label>
                                            {{ form.employment_options }}
                                        </div>
                                    </div>
                                    <h3>Address</h3>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Country</label>
                                            {{ form.country_of_residence }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your City</label>
                                            {{ form.city_of_residence }}
                                        </div>
                                    </div>
                                    <h3>Other information</h3>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Salary</label>
                                            {{ form.salary_expectation }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Years of Experience</label>
                                            {{ form.experience }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Work Experience</label>
                                            {{ form.work_experience }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Accomplishment(s)</label>
                                            {{ form.accomplishments }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Skills</label>
                                            {{ form.skills }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Expectation from Employer</label>
                                            {{ form.expectations }}
                                        </div>
                                    </div>
                                    {% comment %} <h3>Social links</h3>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Facebook</label>
                                            <input type="text" class="form-control" placeholder="www.facebook.com/user" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input type="number" class="form-control" placeholder="www.twitter.com/user" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Linkedin</label>
                                            <input type="text" class="form-control" placeholder="www.Linkedin.com/user" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Github</label>
                                            <input type="text" class="form-control" placeholder="www.Github.com/user" />
                                        </div>
                                    </div> {% endcomment %}
                                {% endif %}
                                <div class="col-md-12">
                                    <button type="submit" class="account-btn">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Account Area End -->
    {% include "partials/footer.html" %}
    <!-- Footer Section End -->
{% endblock content %}
