{% extends "base.html" %}
{% block title %}
    Account Sign-in
{% endblock title %}
{% block content %}
    {% include "partials/loader.html" %}
    <!-- Sign up Section Start -->
    <div class="signup-section ptb-100">
        <div class="container">
            <div class="signup-title text-center">
                <h2>Sign Up</h2>
                <div class="create-btn text-center">
                    <p>
                        Have an Account?
                        <a href="{% url 'login' %}">
                            Sign In
                            <i class="bx bx-chevrons-right bx-fade-right"></i>
                        </a>
                    </p>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible col-4 offset-4 fade show"
                             role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="signup-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-6">
                                <label>Full Name</label>
                                {{ form.fullname }}
                            </div>
                            <div class="form-group col-6">
                                <label>Email</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">
                                        {% for error in form.email.errors %}<small>{{ error }}</small>{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-6">
                                <label>Phone number</label>
                                {{ form.phone }}
                            </div>
                            <!-- Password section -->
                            <div class="form-group col-6">
                                <label>Password</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group col-6">
                                <label>Confirm Password</label>
                                {{ form.confirm_password }}
                                {% if form.confirm_password.errors %}
                                    <div class="text-danger">
                                        {% for error in form.confirm_password.errors %}<small>{{ error }}</small>{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check col-6">
                                <label>Account Type</label>
                                {% for radio in form.role %}
                                    <div class="form-check">
                                        {{ radio.tag }}  {# This renders the radio input #}
                                        <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="signup-btn text-center">
                            <button type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign Up Section End -->
    <div class="copyright-text text-center">
        <p>
            © Jovie Platform is Proudly Owned by
            <a href="https://zealaraxtechnologies.com/" target="_blank">Zealarax Technologies</a>
        </p>
    </div>
{% endblock content %}
