<!DOCTYPE html>
<html lang="zxx">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
		<!-- Owl Carousel Theme Default CSS -->
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
		<!-- Box Icon CSS-->
		<link rel="stylesheet" href="assets/css/boxicon.min.css" />
		<!-- Flaticon CSS-->
		<link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css" />
		<!-- Magnific CSS -->
		<link rel="stylesheet" href="assets/css/magnific-popup.css" />
		<!-- Meanmenu CSS -->
		<link rel="stylesheet" href="assets/css/meanmenu.css" />
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="assets/css/nice-select.css" />
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css" />
		<!-- Dark CSS -->
		<link rel="stylesheet" href="assets/css/dark.css" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="assets/css/responsive.css" />
		<!-- Title CSS -->
		<title>Sign-up Page - Job Board & Portal</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	</head>

	<body>
		<!-- Pre-loader Start -->
		<div class="loader-content">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="sk-circle">
						<div class="sk-circle1 sk-child"></div>
						<div class="sk-circle2 sk-child"></div>
						<div class="sk-circle3 sk-child"></div>
						<div class="sk-circle4 sk-child"></div>
						<div class="sk-circle5 sk-child"></div>
						<div class="sk-circle6 sk-child"></div>
						<div class="sk-circle7 sk-child"></div>
						<div class="sk-circle8 sk-child"></div>
						<div class="sk-circle9 sk-child"></div>
						<div class="sk-circle10 sk-child"></div>
						<div class="sk-circle11 sk-child"></div>
						<div class="sk-circle12 sk-child"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader End -->

		<!-- Sign up Section Start -->
		<div class="signup-section ptb-100">
			<div class="container">
				<div class="signup-title text-center">
					<h2>Sign Up</h2>
					<div class="create-btn text-center">
						<p>
							Have an Account?
							<a href="sign-in.html">
								Sign In
								<i
									class="bx bx-chevrons-right bx-fade-right"></i>
							</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form class="signup-form">
							<div class="row">
								<div class="form-group col-6">
									<label>Full Name</label>
									<input
										type="text"
										class="form-control"
										placeholder="Adegoke Fortunatus Oluwadara"
										required />
								</div>

								<div class="form-group col-6">
									<label>Email</label>
									<input
										type="email"
										class="form-control"
										placeholder="user@example.com"
										required />
								</div>

								<div class="form-group col-6">
									<label>Phone number</label>
									<input
										type="text"
										class="form-control"
										placeholder="+2348 123 456 789"
										required />
								</div>

								<!-- Password section -->
								<div class="form-group col-6">
									<label>Password</label>
									<input
										type="password"
										class="form-control"
										required />
								</div>
								<div class="form-group col-6">
									<label>Confirm Password</label>
									<input
										type="password"
										class="form-control"
										required />
								</div>

								<div class="form-group form-check col-6">
									<label>Account Type</label> <br />
									<input
										name="account_type"
										value="candidate"
										type="radio"
										required
										class="form-check-input" />
									<label class="form-check-label"
										>Candidate</label
									>
									<br />
									<input
										name="account_type"
										value="employer"
										type="radio"
										required
										class="form-check-input" />
									<label class="form-check-label"
										>Employer</label
									>
								</div>
							</div>

							<div class="signup-btn text-center">
								<button type="submit">Sign Up</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Sign Up Section End -->
		<div class="copyright-text text-center">
			<p>
				© Jovie Platform is Proudly Owned by
				<a href="https://zealaraxtechnologies.com/" target="_blank"
					>Zealarax Technologies</a
				>
			</p>
		</div>
		<!-- Footer Section End -->

		<!-- Back To Top Start -->
		<div class="top-btn">
			<i class="bx bx-chevrons-up bx-fade-up"></i>
		</div>
		<!-- Back To Top End -->

		<!-- jQuery first, then Bootstrap JS -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		<!-- Nice Select JS -->
		<script src="assets/js/jquery.nice-select.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Subscriber Form JS -->
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Velidation JS -->
		<script src="assets/js/form-validator.min.js"></script>
		<!-- Contact Form -->
		<script src="assets/js/contact-form-script.js"></script>
		<!-- Meanmenu JS -->
		<script src="assets/js/meanmenu.js"></script>
		<!-- Custom JS -->
		<script src="assets/js/custom.js"></script>
	</body>
</html>
